.stspage {
    display: flex;
    flex-direction: column;

    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

.stspage h2 {
    text-align: center;
    color: white;

}

.tpage {

    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 60px;
    /* background-color: red; */
    justify-content: center;
}



.tleft {
    display: flex;
    /* background-color: blue; */
    width: 45%;
}

.tright {

    display: flex;
    /* background-color: aqua; */
    width: 50%;

    justify-content: center;
}

.stlist {
    display: flex;
    flex-direction: column;

    margin: 100px;
    width: 50%;
    background-color: #1a2d55;
    /* background: rgb(26, 45, 85);
    background: linear-gradient(180deg, rgba(26, 45, 85, 1) 0%, rgb(25, 60, 134) 100%); */

    background: #0e1424;
    background: linear-gradient(63deg, #0e1424 0%, #22325c 100%);

    color: white;
}

.stpgleft {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.stpgleft a {
    width: 25%;
    display: flex;
    margin: 25px;
}


.stpgleft button {

    background: #0e1424;
    background: linear-gradient(63deg, #0e1424 0%, #22325c 100%);
    width: 100%;
    padding:15px 25px;

    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 1px solid white;
}

.stpgleft button:hover {
    box-shadow: #192953 0px 0px 15px;
    border: 2px solid white;

}

.stlist {
    box-shadow: #000000 0px 0px 21px;
    border-radius: 12px;
}

.stlist hr {
    border: #6b6b6b 1px solid;
    opacity: 0.3;
}


.stlabel {
    border-bottom: 3px white solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* color: #192953; */
    font-weight: 700;

    background: #0e1424;
    background: linear-gradient(63deg, #0e1424 0%, #22325c 100%);
    display: flex;
    flex-direction: row;
    padding: 25px;
}


.tleft img{
    filter: grayscale(100%);
}


.stcard {
    display: flex;
    flex-direction: row;

    padding: 15px;
}

.stcard .name {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.stcard .rollno {
    width: 50%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .stlist {
        margin: 10px;
    }


    .stpgleft a {
        width: 90%;
        display: flex;
        margin: 25px;
    }

    .stspage h2 {
        margin-bottom: 40px;
    }

    .stlist {
        display: flex;
        flex-direction: column;

        margin: 0px;
        width: 97%;
        background-color: #1a2d55;
        background: rgb(26, 45, 85);
        background: linear-gradient(180deg, rgba(26, 45, 85, 1) 0%, rgb(25, 60, 134) 100%);

        color: white;
    }


    .stcard {
        display: flex;
        flex-direction: row;
        font-size: 11px;
        padding: 15px;
    }

    .stcard .rollno {
        justify-content: center;
    }

    .stlabel {
        border-bottom: 3px white solid;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }


    .tpage {

        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 10px;
        /* background-color: red; */
        justify-content: space-around;
    }

    .tleft{
        width: 100%;
    }
    .tright{
        width: 100%;
    }


}